<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="model-wrap" style="width: 1150px; margin:0 auto" _v-d422088a="">
    <h3 class="course-model-tit" _v-d422088a="">项目实战&nbsp;你的同行都在学</h3>
    <p class="course-model-dec" _v-d422088a="">更全面的实战案例、更细致的讲解和课后辅导，让你的职业生涯能更轻松的完成进阶</p>
    <em style="width: 77px; border-top: 1px solid #7ED321; margin: 31px auto 78px" _v-d422088a=""></em>
</div>
{#    <div v-for="row in courseList">#}
{##}
{#    </div>#}

{#<div class="course-model" _v-d422088a="">#}
{##}
{#    <div class="model-wrap" style="width: 1150px; margin:0 auto" _v-d422088a=""><h3 class="course-model-tit"#}
{#                                                                                    _v-d422088a="">#}
{#        项目实战&nbsp;你的同行都在学</h3>#}
{#        <p class="course-model-dec" _v-d422088a="">更全面的实战案例、更细致的讲解和课后辅导，让你的职业生涯能更轻松的完成进阶</p> <em#}
{#                style="width: 77px; border-top: 1px solid #7ED321; margin: 31px auto 78px" _v-d422088a=""></em>#}
{#        <div style="width: 100%; display: flex; justify-content: space-between" _v-d422088a="">#}
{#            <div style="width:350px; cursor: pointer" _v-d422088a="">#}
{#                <div style="width:350px; height:238px" _v-d422088a="">#}
{#                    <div style="width:350px; height:238px; clear: both;overflow: hidden; zoom: 1" _v-d422088a=""><img#}
{#                            class="sub-img" src="/static/img/course-img1.f4ba499.png" width="350" height="238"#}
{#                            _v-d422088a=""></div>#}
{#                </div>#}
{#                <div style="width:350px; height:180px; display: flex; justify-content: center; box-shadow: 0 4px 2px 0 #E8E8E8"#}
{#                     _v-d422088a="">#}
{#                    <div style="width: 301px; text-align: center" _v-d422088a=""><h4 class="course-tit" _v-d422088a="">#}
{#                        爬虫开发实战</h4>#}
{#                        <p class="course-dec" _v-d422088a="">通过掌握解锁更多高级爬虫知识，就可以有能力突破 一些常规的反爬限制，爬取你想要的数据。</p> <span#}
{#                                class="course-lever" _v-d422088a="">难度：高级</span></div>#}
{#                </div>#}
{#            </div>#}
{#            <div style="width:350px; cursor: pointer" _v-d422088a="">#}
{#                <div style="width:350px; height:238px" _v-d422088a="">#}
{#                    <div style="width:350px; height:238px; clear: both;overflow: hidden; zoom: 1" _v-d422088a=""><img#}
{#                            class="sub-img" src="/static/img/crm.28aea4f.png" width="350" height="238" _v-d422088a="">#}
{#                    </div>#}
{#                </div>#}
{#                <div style="width:350px; height:180px; display: flex; justify-content: center; box-shadow: 0 4px 2px 0 #E8E8E8"#}
{#                     _v-d422088a="">#}
{#                    <div style="width: 301px; text-align: center" _v-d422088a=""><h4 class="course-tit" _v-d422088a="">#}
{#                        CRM客户关系管理系统项目开发实战</h4>#}
{#                        <p class="course-dec" _v-d422088a="">通过此项目，你将学会一个复杂项目如何从需求讨论、构思、架构设计、代码开发、功能实现的全过程！</p> <span#}
{#                                class="course-lever" _v-d422088a="">难度：中级</span></div>#}
{#                </div>#}
{#            </div>#}
{#            <div style="width:350px; cursor: pointer" _v-d422088a="">#}
{#                <div style="width:350px; height:238px" _v-d422088a="">#}
{#                    <div style="width:350px; height:238px; clear: both;overflow: hidden; zoom: 1" _v-d422088a=""><img#}
{#                            class="sub-img" src="/static/img/course-img3.93cf7e8.png" width="350" height="238"#}
{#                            _v-d422088a=""></div>#}
{#                </div>#}
{#                <div style="width:350px; height:180px; display: flex; justify-content: center; box-shadow: 0 4px 2px 0 #E8E8E8"#}
{#                     _v-d422088a="">#}
{#                    <div style="width: 301px; text-align: center" _v-d422088a=""><h4 class="course-tit" _v-d422088a="">#}
{#                        WEB QQ聊天项目实战</h4>#}
{#                        <p class="course-dec" _v-d422088a="">京东、淘宝的在线客服系统都用了什么技术？通过<br _v-d422088a="">此项目的学习，可以大大提高你的前端开发能力#}
{#                        </p> <span class="course-lever" _v-d422088a="">难度：中级</span></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

</body>
</html>